In [32]:
class some_numbers:
    some_number = 10

In [36]:
test_numbers = some_numbers()
test_numbers.some_number

10

In [37]:
some_numbers.some_number

10

In [39]:
class Person:
    def __init__(self, name, location):
        self.name = name
        self.location = location

In [45]:
p1 = Person("John","Calicut" )
p1.__dict__

{'name': 'John', 'location': 'Calicut'}

In [46]:
p2 = Person("Ravi","Bangalore" )
p2.__dict__

{'name': 'Ravi', 'location': 'Bangalore'}

In [47]:
class parents:
    test_number = 300
    def __init__(self):
        self.hometown = "Delhi"
        self.familybusiness = "Restaurants"
        print("Parents details Initialized")
    def put_mother_name(self,mothername):
        self.mothername = mothername
    def put_father_name(self,fathername):
        self.fathername = fathername
    def get_parents_info(self):
        print("Father Name :",self.fathername)
        print("Mother Nmae :",self.mothername)

In [48]:
class child(parents):
    def __init__(self):
        super().__init__()
        print("Parents Class Inherited")
    def enter_child_name(self,child_name):
        self.child_name=child_name
    def enter_age_location(self,age,location):
        self.age=age
        self.location=location
        print("Child Location details entered")
    def enter_employment_info(self,job):
        self.job=job
    def get_all_child_details(self):
        print(self.child_name + "Age: ",self.age,"Location:",self.location, "job:",self.job)

In [49]:
parents_info=parents()

Parents details Initialized

In [50]:
parents_info.hometown

'Delhi'

In [8]:
parents_info.put_father_name("Rahul")
parents_info.put_mother_name("Divya")

In [9]:
parents_info.get_parents_info()

Father Name : Rahul
Mother Nmae : Divya

In [10]:
parents_info.hometown

'Delhi'

In [11]:
parents_info.familybusiness

'Restaurants'

In [12]:
child1=child()

Parents details Initialized
Parents Class Inherited

In [13]:
child1.familybusiness

'Restaurants'

In [14]:
child1.put_father_name("Raju")
child1.put_mother_name("Rani")

In [15]:
child1.get_parents_info()

Father Name : Raju
Mother Nmae : Rani

In [16]:
child_data=child()

Parents details Initialized
Parents Class Inherited

In [17]:
child_data.enter_child_name("Ramesh")
child_data.enter_age_location(23,"Singapore")
child_data.enter_employment_info("Data Scientist")

Child Location details entered

In [18]:
child_data.put_mother_name("Rani")
child_data.put_father_name("Raju")

In [19]:
child_data.get_parents_info()

Father Name : Raju
Mother Nmae : Rani

In [20]:
child_data.get_all_child_details()

RameshAge:  23 Location: Singapore job: Data Scientist